/* SLIDER COMPONENT */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider-container {
  width: 100%;
  white-space: nowrap;
  transform: rotate(2deg);
  position: absolute;
  bottom: 2vh; /* Adjust as needed to move it up */
}

.slider-content {
  display: flex;
  animation: scroll 20s linear infinite;
  width: 200%;
}

.logo-icon-container {
  display: inline-flex;
}

/* SLIDER COMPONENT */
